body {
  min-height: 100vh;
  align-items: center;
}

.search {
  margin-top: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.search-form {
  border-radius: 4px;
  padding: 10px 5px;
  width: 50%;
  margin-right: 10px;
}

.search-btn {
  border: none;
  background: hsl(0 0% 93%);
  border-radius: 2px;
  padding: 10px 10px;
}

.wp-block-quote {
  padding: 10px;
  border: solid 2px;
  border-radius: 2px;
}